
<div   class = "introduction">
<div class ="title"><span >WIKIPEDIA ANALYTICS TOOL</span> </div>
  <p></p>
  <div class ="statement" style="width: 100% ;background-color: white;font-size: 25px;margin: auto;height:auto;" >
    <div style="width: 85%;margin: auto;height: 100%">
    <p>With the development of Internet, information retrieval and analytic functions have become the secret of rapid development of various industries.
       This is a Wikipedia article analytic tool providing three main functions for user to gain insights of article revisions and the users who contributed.
       To be able to use this tool, you need to sign up and login first.
       Details of each analytic function is described below, feel free to choose the most suitable one for your needs:
      </p>
    </div>
  </div>
  <p></p>
  <div style="background: #D3D3D3;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Overall Analytics" style="height: 600px">

          <div style="text-align: center;"><img src="../../../assets/intro-overall.jpg" style="height: 300px;width: 300px" ></div>
          <p></p>
            <p>This function provides an overview of all articles available in this application. The key information available includes articles with the most or least number of revisions, the articles with the longest or shortest history in days, the most or least popular articles by number of unique users. </p>
          <p>There are also three graphs available to display distribution of different types of users and the distribution of revisions made by each type of user in each year. r </p>
          <p></p>

        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Author Analytics" style="height: 600px">
          <div style="text-align: center;"><img src="../../../assets/intro-author.jpg" style="height: 300px;width: 400px" ></div>
          <br>
          <p>
            This function focuses on an author who you are interested in. You will be able to search any author who made contribution in any articles. You can see all articles edited by the searched author along with the total number of revisions made to each article. You can also select any article by the searched author to view when was each revision made.
          </p>

        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Individual Article Analytics" style="height: 600px">
          <div style="text-align: center;"><img src="../../../assets/intro-individual.jpg" style="height: 300px;width: 400px" ></div>
          <br>
          <p>This function focuses on an article that you are interested in. You will be able to select any available article to analyse the detail data of all user contribution. For each selected article you will be able to see the top 5 regular users who made the highest number of revisions. You will also be able to see 3 hottest news topics on Reddit about the selected article content. Three different types of graphs are also provided to visualize distribution of revisions number in each year, user types and individual user contribution in each year. A year filter is also provided for you to limit the search time period. </p>
        </nz-card>
      </div>
    </div>
  </div>
 <p></p>
  <div style="width: 100%; text-align: center; background-color: white;padding: 10px">copyright: 2020-s1-comp5347 group 6 </div>
</div>

