
<div   class = "introduction">
<div class ="title"><span >WIKIPEDIA ANALYSIS TOOL</span> </div>
  <p></p>
  <div class ="statement" style="width: 100% ;background-color: white;font-size: 25px;margin: auto;height:150px" >
    <div style="width: 75%;margin: auto;font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;height: 100%">
    <p>With the development of the Internet, information retrieval and analysis functions have become the secret of rapid development of various industries.
    This tool is a Wikipedia data analysis, which contains an overall analysis, individual article analysis, and author-based analysis.</p>
    </div>
  </div>
  <p></p>
  <div style="background: #D3D3D3;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Overall Analysis" style="height: 600px">

          <div style="text-align: center;"><img src="../../../assets/intro-overall.jpg" style="height: 300px;width: 300px" ></div>
          <p></p>
            <p>In this part, some information will be displayed. Like the article with longest and shortest history, the article with largest or smallest group of registered users, and articles with highest or lowest number of revisions </p>
          <p>Meanwhile, two graph will show the details of the consist of user group and the number of revision edited by the group of users in each year </p>
          <p></p>

        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Author Analysis" style="height: 600px">
          <div style="text-align: center;"><img src="../../../assets/intro-author.jpg" style="height: 300px;width: 400px" ></div>
          <p></p>
          <p>In this part, some information will be displayed. Like the article with longest and shortest history, the article with largest or smallest group of registered users, and articles with highest or lowest number of revisions </p>
          <p>Meanwhile, two graph will show the details of the consist of user group and the number of revision edited by the group of users in each year </p>
          <p></p>

        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Individual Article analysis" style="height: 600px">
          <div style="text-align: center;"><img src="../../../assets/intro-individual.jpg" style="height: 300px;width: 400px" ></div>
          <p></p>
          <p>In this part, some information will be displayed. Like the article with longest and shortest history, the article with largest or smallest group of registered users, and articles with highest or lowest number of revisions </p>
          <p>Meanwhile, two graph will show the details of the consist of user group and the number of revision edited by the group of users in each year </p>
          <p></p>

        </nz-card>
      </div>
    </div>
  </div>
 <p></p>
  <div style="width: 100%; text-align: center; background-color: white;padding: 10px">copyright: 2020-s1-comp5347 group 6 </div>
</div>

