<div id="main"  >
  <div class = "text">
    view: <select [(ngModel)]="OverallModel.number" (ngModelChange)="OverallModel.number=$event;setInfo()" style="width: 80%;margin: auto">
      <option *ngFor="let item of OverallModel.numbers" [value]='item' >{{item}}</option>
    </select>
   <button style="float: right" (click)="updateData()">select</button>
    <nz-list nzHeader="highest number of revisions"  style="text-align: center;" >
    <ul nz-list nzBordered nzSize="small">
      <li nz-list-item *ngFor="let item of OverallModel.re_highest" nzNoFlex style="text-align: left">
        {{item['_id']}}<span style="float: right">{{item['count']}}</span>
      </li>
    </ul>
    </nz-list>

    <nz-list nzHeader="lowest number of revisions"  style="text-align: center" nzFooter="">
    <ul nz-list nzBordered nzSize="small">
      <li nz-list-item *ngFor="let item of OverallModel.re_lowest" nzNoFlex style="text-align: left">
        {{item['_id']}}<span style="float: right">{{item['count']}}</span>
      </li>
    </ul>
    </nz-list>
    <nz-list nzHeader="largest group of registered users"  style="text-align: center" nzFooter="">
    <ul nz-list nzBordered nzSize="small">
      <li nz-list-item *ngFor="let item of OverallModel.user_largest" nzNoFlex style="text-align: left">
        {{item['_id']['title']}}<span style="float: right">{{item['users']}}</span>
      </li>
    </ul>
    </nz-list>
    <nz-list nzHeader="smallest group of registered users"  style="text-align: center" nzFooter="">
      <ul nz-list nzBordered nzSize="small">
        <li nz-list-item *ngFor="let item of OverallModel.user_least" nzNoFlex style="text-align: left">
          {{item['_id']['title']}}<span style="float: right">{{item['users']}}</span>
        </li>
      </ul>
    </nz-list>


    <nz-list nzHeader="longest history"  style="text-align: center" nzFooter="">
      <ul nz-list nzBordered nzSize="small">
        <li nz-list-item *ngFor="let item of OverallModel.hi_longest" nzNoFlex style="text-align: left">
          {{item['title']}}<span style="float: right">{{item['age_in_days']}}</span>
        </li>
      </ul>
    </nz-list>
    <nz-list nzHeader="shortest history"  style="text-align: center" nzFooter="">
      <ul nz-list nzBordered nzSize="small">
        <li nz-list-item *ngFor="let item of OverallModel.hi_shortest" nzNoFlex style="text-align: left">
          {{item['title']}}<span style="float: right">{{item['age_in_days']}}</span>
        </li>
      </ul>
    </nz-list>
  </div>


  <div class = "graph">
    <div>
      <div>
        <div class="chart">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [plugins]="pieChartPlugins"
                   chartType="pie"
                  [options]="pieChartOptions"
                  legend="true">
          </canvas>
        </div>
      </div>
    </div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"

              legend="true"
              chartType="bar">
      </canvas>
    </div>
  </div>
</div>
