<nz-drawer
[nzMaskClosable]="true"
[nzMask]="true"
[nzWidth]="400"
[nzVisible]="visible"
[nzPlacement]="'right'"
nzTitle="Sign up"
(nzOnClose)="closeSignup()"
>
<div class="signup-page" >
 <form nz-form [formGroup]="signupForm" class="signup-form" (ngSubmit)="onSignup()">
   <div style="text-align: center"><img src="../../assets/user.png" ></div>
   <nz-form-item>
     <nz-form-control nzErrorTip="Please input your First Name">
       <nz-input-group nzPrefixIcon="user">
         <input nz-input formControlName="firstname" placeholder="FirstName">
       </nz-input-group>
     </nz-form-control>
   </nz-form-item>
   <nz-form-item>
     <nz-form-control nzErrorTip="Please input your Last Name">
       <nz-input-group nzPrefixIcon="user">
         <input nz-input formControlName="lastname" placeholder="LastName">
       </nz-input-group>
     </nz-form-control>
   </nz-form-item>
   <nz-form-item>
      <nz-form-control nzErrorTip="Please input your E-mail address to Sign up!">
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input formControlName="email" placeholder="Useremail">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

   <nz-form-item>
     <nz-form-control >
       <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="select the security question" formControlName="question" >
         <nz-option nzValue="question1" nzLabel="what's your favourite color?"></nz-option>
         <nz-option nzValue="question2" nzLabel="what's your mother's name?"></nz-option>
         <nz-option nzValue="question3" nzLabel="what's your favourite number?"></nz-option>
       </nz-select>
     </nz-form-control>
   </nz-form-item>

   <nz-form-item>
     <nz-form-control nzErrorTip="Please input your Answer">
         <input id="Answer" nz-input formControlName="answer" placeholder="Your Answer">
     </nz-form-control>
   </nz-form-item>

   <nz-form-item>
      <nz-form-control>
        <button nz-button class="signup-submit-button" [nzType]="'primary'" type="submit">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
</nz-drawer>




<!--<div class="login-page"></div>-->
