
<div id="main"  >
  <div id = "left">
    <div>
      <span style="font-size: larger">Title:</span>

      <div nz-row>
      <select  [(ngModel)]="Model.defaultTitle"  (ngModelChange)="Model.defaultTitle= $event;setInfo()" style="width: 30%">
        <option *ngFor="let option of Model.articleList" [value] = 'option["_id"]'>{{option["_id"]}}<span style="color:red;float: right;text-align: right">#revision:{{option['revCount']}}</span></option>
      </select>
      <nz-year-picker [(ngModel)]="Model.startYear" (ngModelChange)="onStartChange($event)" nzPlaceHolder="Select start year"></nz-year-picker><nz-year-picker [(ngModel)]="Model.endYear" (ngModelChange)="onEndChange($event)" nzPlaceHolder="Select end year"></nz-year-picker>
      <button (click)="this.selectData()">select</button>
      </div>
            <nz-list  nzHeader="Your Select Title" style="text-align: center;margin-top: 10px" nzFooter="">
              <ul nz-list nzBordered nzSize="small">
                <li nz-list-item nzNoFlex style="text-align: left">
                  <span style="text-align: left"><strong>Title</strong></span> <span style="float: right"><strong> Total number of revisions</strong></span>
                </li>
                <li nz-list-item nzNoFlex style="text-align: left">
                  <span style="text-align: left">{{Model.reTitleS}}</span> <span style="float: right">{{Model.reNumberS}}</span>
                </li>
              </ul>
            </nz-list>


      <nz-list nzHeader="top 5 regular users"  style="text-align: center" nzFooter="">
        <ul nz-list nzBordered nzSize="small">
          <li nz-list-item *ngFor="let item of Model.TopFiveUser" nzNoFlex style="text-align: left">
            <nz-radio-group [(ngModel)]="Model.UserSelect" (ngModelChange)="changeUserGraph($event)">
              <label nz-radio [nzValue]="item['_id']"></label>  {{item['_id']}}
            </nz-radio-group><span style="float: right">{{item['revCount']}}</span>
          </li>
        </ul>
      </nz-list>

      <nz-list nzHeader="top 3 news"  style="text-align: center" nzFooter="">
        <ul nz-list nzBordered nzSize="small">
          <li nz-list-item *ngFor="let item of Model.TopNews" nzNoFlex style="text-align: left">
            <a [href]="item['URL']">{{item['title']}}</a>
          </li>
        </ul>
      </nz-list>





    </div>

  </div>

  <div id = "right">

    <nz-tabset nzSize="large"  nzTabBarGutter="8" >
      <nz-tab nzTitle="yearly revision number distribution">
        <div style="display: block">
          <!--    -->
          <canvas baseChart
                  [datasets]="Model.articalGraphData"
                  [labels]="Model.articalGraphLabel"
                  [options]="barChartOptions"

                  legend="true"
                  chartType="bar">
          </canvas>
        </div>
      </nz-tab>
      <nz-tab nzTitle="user type distribution">
        <div class="chart">
          <canvas baseChart
                  [data]="Model.pieChartData"
                  [labels]="Model.pieChartLabels"
                  [colors]="Model.pieChartColors"
                  [plugins]="pieChartPlugins"
                  chartType="pie"
                  [options]="pieChartOptions"
                  legend="true">
          </canvas>
        </div>
      </nz-tab>
      <nz-tab nzTitle="single user yearly revision distribution">
        <div style="display: block">
          <!--    -->
          <canvas baseChart
                  [datasets]="Model.userGraphData"
                  [labels]="Model.userGraphLabel"
                  [options]="barChartOptions"

                  legend="true"
                  chartType="bar">
          </canvas>
        </div>
      </nz-tab>

    </nz-tabset>

  </div>





  </div>

