
<div id="main"  >
  <div id = "left">
    <div>
      <span style="font-size: larger">Title:</span>

      <select  [(ngModel)]="Model.defaultTitle"  (ngModelChange)="Model.defaultTitle=$event;setInfo()" style="width: 50%">
        <option *ngFor="let option of Model.articleList" [value] = 'option'>{{option}}</option>
      </select>
      <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
      <button>select</button>
            <nz-list  nzHeader="Your Select Title" style="text-align: center;margin-top: 10px" nzFooter="">
              <ul nz-list nzBordered nzSize="small">
                <li nz-list-item nzNoFlex style="text-align: left">
                  <span style="text-align: left"><strong>Title</strong></span> <span style="float: right"><strong> Total number of revisions</strong></span>
                </li>
                <li nz-list-item nzNoFlex style="text-align: left">
                  <span style="text-align: left">Australia</span> <span style="float: right">100</span>
                </li>
              </ul>
            </nz-list>


      <nz-list nzHeader="top 5 regular users"  style="text-align: center" nzFooter="">
        <ul nz-list nzBordered nzSize="small">
          <li nz-list-item *ngFor="let item of Model.articleList" nzNoFlex style="text-align: left">
            {{item}}<span style="float: right">{{item}}</span>
          </li>
        </ul>
      </nz-list>

      <nz-list nzHeader="top 3 news"  style="text-align: center" nzFooter="">
        <ul nz-list nzBordered nzSize="small">
          <li nz-list-item *ngFor="let item of Model.articleList" nzNoFlex style="text-align: left">
            {{item}}<span style="float: right">{{item}}</span>
          </li>
        </ul>
      </nz-list>





    </div>
<!--    <div class="chart">-->
<!--      <canvas baseChart-->
<!--              [data]="pieChartData"-->
<!--              [labels]="pieChartLabels"-->
<!--              [plugins]="pieChartPlugins"-->
<!--              chartType="pie"-->
<!--              [options]="pieChartOptions"-->
<!--              legend="true">-->
<!--      </canvas>-->
<!--    </div>-->




  </div>

  <div id = "right">

    <nz-tabset nzSize="large"  nzTabBarGutter="8" >
      <nz-tab nzTitle="yearly revision number distribution">
        <div style="display: block">
          <!--    -->
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"

                  legend="true"
                  chartType="bar">
          </canvas>
        </div>
      </nz-tab>
      <nz-tab nzTitle="single user yearly revision distribution">
        <div style="display: block">
          <!--    -->
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"

                  legend="true"
                  chartType="bar">
          </canvas>
        </div>
      </nz-tab>
      <nz-tab nzTitle="user type distribution">
        <div class="chart">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [plugins]="pieChartPlugins"
                  chartType="pie"
                  [options]="pieChartOptions"
                  legend="true">
          </canvas>
        </div>
      </nz-tab>
    </nz-tabset>

<!--    <div style="display: block">-->
<!--&lt;!&ndash;    &ndash;&gt;-->
<!--      <canvas baseChart-->
<!--              [datasets]="barChartData"-->
<!--              [labels]="barChartLabels"-->
<!--              [options]="barChartOptions"-->

<!--              legend="true"-->
<!--              chartType="bar">-->
<!--      </canvas>-->
<!--    </div>-->

  </div>





  </div>

