extends layout

block content
  h1= title
  p Welcome to the backend #{title} server of COMP5347Group6. 
  p Please visit localhost:4200 for the actual WIKIPEDIA ANALYSIS TOOL.
  p Or feel free to contact wdai9162@uni.sydney.edu.au.  

