
      .login-page
      {
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
        text-align: center;
        width: 100%;
        border-radius: 20px;
        transform: translateY(10%);
      }

      .login-form {
        max-width:50%;
        margin:auto;
        padding: 10px 15px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-remeber{
        float:left;
      }

      .login-form-button {
        width: 100%;
      }

      .ant-btn{
        margin-right: 8px;
      }
