
.introduction
{
  width: 100%;
  height: 100%;
  background-color: 	#D3D3D3;
}

.title
{
  width: 100%;
  height: 10%;
  background-color: white;
  margin: auto;
  text-align: center;
  font-size: 40px;
  color: darkgrey;
}
