
      .login-form {
        max-width: 30%;
        margin:auto;


      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      /*.login-page*/
      /*{*/
      /*  text-align: center;*/

      /*  border-radius: 20px;*/
      /*  width:100%;*/
      /*  left: 50%;*/
      /*  top: 50%;*/

      /*}*/
