
      .login-form {

        max-width:50%;
        margin:auto;
        transform: translateY(25%);


      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      .login-page
      {
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

        text-align: center;
        width: 40%;
        height: 50%;
        /*transform: translateY(20%);*/
        margin: auto;


        border-radius: 20px;


        transform: translateY(50%);

      }
