
      /*.signup-page*/
      /*{*/
      /*  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
      /*  text-align: center;*/
      /*  width: 100%;*/
      /*  border-radius: 20px;*/
      /*  transform: translateY(10%);*/
      /*}*/

      .signup-form {
        max-width:100%;
        margin:auto;
        padding: 10px 15px;
      }


      /*#signup-submit-button {*/
      /*  width: 100%;*/
      /*}*/
