
/*.main*/
/*{*/
/*  !*text-align: center; !*让div内部文字居中*!*!*/
/*  !*border-radius: 20px;*!*/
/*  !*width: 70%;*!*/
/*  !*height: 70%;*!*/
/*  !*margin: auto;*!*/
/*  !*background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);;*!*/
/*  !*position: absolute;*!*/
/*  !*top: 0;*!*/
/*  !*left: 0;*!*/
/*  !*right: 0;*!*/
/*  !*bottom: 0;*!*/

/*}*/

.left
{
  width: 65%;
  background-image:url('http://pic1.win4000.com/wallpaper/a/58ed8f0ff2513.jpg');background-size:cover;background-position:center center;
  height: 100%;
  float: left;
}

.right
{
  text-align: center;
  float: right;
  height: 100%;

  border-radius: 20px;
  width: 35%;

  transform: translateY(20%);
  /*transform: translate(-50%,-50%);*/
}
