<div *ngIf="!isLogin">
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"

              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
  </div>
</div>
<div *ngIf="isLogin">
  <app-login-over-all ></app-login-over-all>
</div>
